{% extends "base.html" %}
{% block title %}Administration Page{% endblock %}
{% block head %}
<style>
    svg {
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-3 ">
        {% include 'admin_sidebar.html' %}
        <aside>
            <div class="container">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Graphical View
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{ graph|safe}}
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <div class="column is-9">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Hello, {{ username }}.
                    </h1>
                    <h2 class="subtitle">
                        I hope you are having a great day!
                    </h2>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="columns is-multiline">
                {% for place in places %}
                <div class="column is-one-quarter">
                    <a href="{{ url_for('view_location', location=place['Name']) }}">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    <a href="{{ url_for('view_location', location=place['ID']) }} ">
                                        {{place["Name"]}}</a>
                                </p>
                            </header>
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    <img src="/static/images/{{place['image']}}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="field is-grouped is-grouped-multiline">
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">Capacity:</span>
                                            <span class="tag is-is-info">{{place["Capacity"]}}</span>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">Availability:</span>
                                            <span class="tag is-primary">{{place["Availability"]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}