{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="notification is-danger is-pulled-right">
    {{ errors }}
</div>
{% endif %}
{% endwith %}
<div class="columns is-vcentered is-gapless">
    <div class="login column is-4 ">
        <section class="section">
            <div class="has-text-centered">
                <img class="login-logo" src="/static/images/njc_logo.png">
            </div>
            <form method="post" enctype="multipart/form-place">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-right">
                        <input class="input" type="text" name="userId" placeholder="Username" autofocus required>
                        <span class="icon is-small is-right">
                            <i class="fa fa-user"></i>
                        </span>
                        {% with user_error = get_flashed_messages(category_filter=['user_error']) %}
                        {% if user_error %}
                        <p class="help is-danger">{{ user_error[0] }}</p>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-right">
                        <input class="input" type="password" name="password" placeholder="Password" required>
                        <span class="icon is-small is-right">
                            <i class="fa fa-key"></i>
                        </span>
                        {% with pass_error = get_flashed_messages(category_filter=['pass_error']) %}
                        {% if pass_error %}
                        <p class="help is-danger">{{ pass_error[0] }}</p>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="has-text-centered">
                    <a href="{{url_for('home')}}" class="button is-light">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                    </a>
                    <button type="submit" name="submit" class="button is-vcentered is-primary is-outlined">
                        <span class="icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                    </button>
                </div>
            </form>
        </section>
    </div>
    <div class="column is-8">
        <figure>
            <img src="/static/images/Featured_NJC-College-of-the-Nation.jpg" alt="">
        </figure>
    </div>
</div>
{% endblock %}