{% extends "base.html" %}
{% block title %}Manage Admins{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-3 ">
        {% include 'admin_sidebar.html' %}
    </div>
    <div class="column is-9">
        <section class="box">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Manage User</th>
                    </tr>
                </thead>
                {% for user in users %}
                <tr>
                    <td>{{ user['id'] }}</td>
                    <td><a href="{{url_for('manage_admin')}}/delete/{{ user['id'] }}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
</div>
{% endblock %}